@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: yinbiao;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    font-size: 1em;
    line-height: 1.618;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre2 {
    color: #00C
    }
.calibre3 {
    display: block;
    page-break-after: always
    }
.calibre4 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.calibre5 {
    display: block
    }
.kindle-cn-bodycontent-div-alone {
    display: block;
    text-align: center;
    width: 100%
    }
.kindle-cn-bodycontent-image-alone {
    height: auto;
    margin-bottom: 0.5em;
    width: 100%
    }
.kindle-cn-bodycontent-image-alone1 {
    height: auto;
    margin-bottom: 0.5em;
    width: 80%
    }
.kindle-cn-bodycontent-image-alone2 {
    height: auto;
    margin-bottom: 0.5em;
    margin-top: -0.3em;
    width: 100%
    }
.kindle-cn-bold {
    font-family: STSong, "Song S", Song, "宋体";
    font-weight: bold
    }
.kindle-cn-copyright-text {
    display: block;
    line-height: 1.618em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.kindle-cn-exam-choice {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.kindle-cn-heading {
    border-bottom-color: #c7c7c7;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-top-color: #c7c7c7;
    border-top-style: dashed;
    border-top-width: 2px;
    display: block;
    font-family: "MYing Hei S", Hei, "黑体";
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    padding-bottom: 0.75em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.75em;
    page-break-before: always;
    text-align: center;
    width: 100%
    }
.kindle-cn-heading1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center;
    width: 100%
    }
.kindle-cn-heading2 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always;
    text-align: center;
    width: 100%
    }
.kindle-cn-heading3 {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.kindle-cn-heading4 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em
    }
.kindle-cn-para-h {
    display: block;
    font-family: "MYing Hei S", Hei, "黑体";
    font-size: 1.29167em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.kindle-cn-picture-txt-withfewcharactors {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.3em;
    text-align: center;
    text-indent: 0
    }
.kindle-cn-strike {
    text-decoration: line-through
    }
.kindle-cn-toc-level {
    display: block;
    margin-left: 0
    }
.kindle-cn-toc-level1 {
    display: block;
    margin-left: 2em
    }
.kindle-cn-toc-title {
    border-bottom-color: #000;
    border-bottom-style: dotted;
    border-bottom-width: 1.5px;
    display: block;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
    text-align: center
    }
.kindle-cn-underline {
    text-decoration: underline
    }
.math-super {
    font-size: 0.75em;
    vertical-align: super
    }

